body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

header {
    margin-top: 0;
    /* position: fixed; */
    height: 15vh;
    background-color: blueviolet;
}

header h1 {
    color: white;
}

.card {
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 1rem;
}
footer{
    /* position: fixed; */
    background-color: blueviolet;
    height: 10vh;
}

footer h5{
    color: white;
    text-align: center;
}

